<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<div id="navigation">
    <%= link_to 'Who we are', about_path %>
	<%= link_to 'Services', services_path %>
	 <%= link_to 'Resources', resources_path %>
	<%= link_to 'Projects', projects_path %>
	<%= link_to 'Education & outreach', education_path%>
	<%= link_to 'Contact', contact_path %>
</div>